.header {
    display: flex;
    align-items: center;
    height: 700px;
    background-position: center;
    background-size: cover;
    color: #fff;
}

.container-header {
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.header-title {
    margin: 0;
    font-weight: 500;
    color: #ab2b02;
    font-size: 50px;
    text-transform: uppercase;
    line-height: 1.1;
    text-align: center;
}

.header-text {
    margin: 30px 0 40px 0;
    font-size: 18px;
    text-align: center;
    color: #2c0505;
}

@media (min-width: 768px) {
    .header {
        height: 597px;
    }
}

@media (min-width: 1024px) {
    .header {
        height: 726px;
    }
}

.header-min {
    height: 380px;
}