* {
    box-sizing: border-box;
}

*::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #2c0505;
}

@font-face {
	font-family: "Rosa Marena";
	src: url("../fonts/rosa-marena/rosa-marena.eot"); /* IE9 Compat Modes */
	src: url("../fonts/rosa-marena/rosa-marena.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
		url("../fonts/rosa-marena/rosa-marena.otf") format("opentype"), /* Open Type Font */
		url("../fonts/rosa-marena/rosa-marena.svg") format("svg"), /* Legacy iOS */
		url("../fonts/rosa-marena/rosa-marena.ttf") format("truetype"), /* Safari, Android, iOS */
		url("../fonts/rosa-marena/rosa-marena.woff") format("woff"), /* Modern Browsers */
		url("../fonts/rosa-marena/rosa-marena.woff2") format("woff2"); /* Modern Browsers */
	font-weight: normal;
	font-style: normal;
}

.rosa-marena {
    font-family: "Rosa Marena";
    text-transform: none;
    color: #ab2b01;
}

.bg {
    background-size: cover;
}

.container {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1380px;
    width: 100%;
}

.container-sm {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
    margin: 0 auto;
}

.container-flex {
    display: flex;
}

.d-flex {
    display: flex;
}
.align-center {
    align-items: center;
}

.row {
    display: flex;
    margin: 0 -15px;

    &-wrap {
        flex-wrap: wrap;
    }
}

.col {
    flex: 1;
    padding: 0 15px;

    &-auto {
        flex: 0 0 auto;
        padding: 0 15px;
    }
}


@media (max-width: 768px) {
    .row {
        flex-wrap: wrap;
    }
    .break {
        flex-basis: 100%;
        width: 0;
    }
}


.justify-center {
    justify-content: center;
}

.m-0 {
    margin: 0;
}


 .p-0 {
     padding: 0;
 }

.mb-30 {
    margin-bottom: 30px;
}

.mr-15 {
    margin-right: 15px;
}
